[user]
  email = 12967144+genzade@users.noreply.github.com
  name = Hamid Zadeh
  # variables are set in ~/.gitconfig_local
[include]
  path = ~/.gitconfig_local
[core]
  excludesfile = ~/.gitignore_global
  # make sure `~/.gitignore_global` exists
  #
  # [user]
  #   name = Your name
  #   email = Your email
  #
  # and anything else you want to keep personal
[core]
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true    # use n and N to move between diff sections
  light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
  line-numbers = true

[merge]
  conflictstyle = diff3

[diff]
    colorMoved = default
    submodule = log
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[push]
  default = current
