[user]
  # variables are set in ~/.gitconfig_local
[include]
  path = ~/.gitconfig_local
[core]
  excludesfile = ~/.gitignore_global
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[push]
  default = current
