!*
notes.md
brews.txt
startup.report
tempfile.tmux
Brewfile.lock.json
nvim/.config/nvim/plugin/packer_compiled.lua
.DS_Store
tags
.notes.*
notes.*
notes/*
yazi/.config/yazi/flavors/
yazi/.config/yazi/plugins/
yazi/.config/yazi/package.toml
