---
- name: "Yazi | MacOSX | Install Yazi"
  community.general.homebrew:
    name: "{{ item }}"
    state: present
  with_items:
    - yazi
    - ffmpeg
    - sevenzip
    - jq
    - poppler
    - fd
    - ripgrep
    - fzf
    - zoxide
    - resvg
    - imagemagick
    - font-symbols-only-nerd-font
