# A TOML linter such as https://taplo.tamasfe.dev/ can use this schema to validate your config.
# If you encounter any issues, please make an issue at https://github.com/yazi-rs/schemas.
"$schema" = "https://yazi-rs.github.io/schemas/yazi.json"

[mgr]
   linemode       = "none"
   mouse_events   = ["click", "scroll"]
   ratio          = [1, 4, 3]
   scrolloff      = 5
   show_hidden    = true
   show_symlink   = true
   sort_by        = "alphabetical"
   sort_dir_first = true
   sort_reverse   = false
   sort_sensitive = false
   sort_translit  = false
   title_format   = "Yazi: {cwd}"

[preview]
   cache_dir       = ""
   image_delay     = 30
   image_filter    = "triangle"
   image_quality   = 75
   max_height      = 900
   max_width       = 600
   tab_size        = 2
   ueberzug_offset = [0, 0, 0, 0]
   ueberzug_scale  = 1
   wrap            = "no"

[opener]
   download = [
      { run = "ya emit download --open %S", desc = "Download and open" },
      { run = "ya emit download %S", desc = "Download" },
   ]
   edit = [
      { run = "${EDITOR:-vi} %s", desc = "$EDITOR", for = "unix", block = true },
      { run = "code %s", desc = "code", for = "windows", orphan = true },
      { run = "code -w %s", desc = "code (block)", for = "windows", block = true },
   ]
   extract = [{ run = "ya pub extract --list %s", desc = "Extract here" }]
   open = [
      { run = "xdg-open %s1", desc = "Open", for = "linux" },
      { run = "open %s", desc = "Open", for = "macos" },
      { run = 'start "" %s1', desc = "Open", for = "windows", orphan = true },
      { run = "termux-open %s1", desc = "Open", for = "android" },
   ]
   play = [
      { run = "xdg-open %s1", desc = "Play", for = "linux", orphan = true },
      { run = "open %s", desc = "Play", for = "macos" },
      { run = 'start "" %s1', desc = "Play", for = "windows", orphan = true },
      { run = "termux-open %s1", desc = "Play", for = "android" },
      { run = "mediainfo %s1; echo 'Press enter to exit'; read _", block = true, desc = "Show media info", for = "unix" },
      { run = "mediainfo %s1 & pause", block = true, desc = "Show media info", for = "windows" },
   ]
   reveal = [
      { run = "xdg-open %d1", desc = "Reveal", for = "linux" },
      { run = "open -R %s1", desc = "Reveal", for = "macos" },
      { run = "explorer /select,%s1", desc = "Reveal", for = "windows", orphan = true },
      { run = "termux-open %d1", desc = "Reveal", for = "android" },
      { run = "clear; exiftool %s1; echo 'Press enter to exit'; read _", desc = "Show EXIF", for = "unix", block = true },
   ]

[open]
   rules = [
      # Folder
      { url = "*/", use = [
         "edit",
         "open",
         "reveal",
      ] },
      # Text
      { mime = "text/*", use = [
         "edit",
         "reveal",
      ] },
      # Image
      { mime = "image/*", use = [
         "open",
         "reveal",
      ] },
      # Media
      { mime = "{audio,video}/*", use = [
         "play",
         "reveal",
      ] },
      # Archive
      { mime = "application/{zip,rar,7z*,tar,gzip,xz,zstd,bzip*,lzma,compress,archive,cpio,arj,xar,ms-cab*}", use = [
         "extract",
         "reveal",
      ] },
      # JSON
      { mime = "application/{json,ndjson}", use = [
         "edit",
         "reveal",
      ] },
      { mime = "*/javascript", use = [
         "edit",
         "reveal",
      ] },
      # Empty file
      { mime = "inode/empty", use = [
         "edit",
         "reveal",
      ] },
      # Virtual file system
      { mime = "vfs/{absent,stale}", use = "download" },
      # Fallback
      { url = "*", use = [
         "open",
         "reveal",
      ] },
   ]

[tasks]
   bizarre_retry    = 3
   image_alloc      = 536870912      # 512MB
   image_bound      = [10000, 10000]
   macro_workers    = 10
   micro_workers    = 10
   suppress_preload = false

[plugin]
   fetchers = [
      # Mimetype
      { id = "mime", url = "*/", run = "mime.dir", prio = "high" },
      { id = "mime", url = "local://*", run = "mime.local", prio = "high" },
      { id = "mime", url = "remote://*", run = "mime.remote", prio = "high" },
   ]
   preloaders = [
      # Image
      { mime = "image/{avif,hei?,jxl}", run = "magick" },
      { mime = "image/svg+xml", run = "svg" },
      { mime = "image/*", run = "image" },
      # Video
      { mime = "video/*", run = "video" },
      # PDF
      { mime = "application/pdf", run = "pdf" },
      # Font
      { mime = "font/*", run = "font" },
      { mime = "application/ms-opentype", run = "font" },
   ]
   previewers = [
      { url = "*/", run = "folder" },
      # Code
      { mime = "text/*", run = "code" },
      { mime = "application/{mbox,javascript,wine-extension-ini}", run = "code" },
      # JSON
      { mime = "application/{json,ndjson}", run = "json" },
      # Image
      { mime = "image/{avif,hei?,jxl}", run = "magick" },
      { mime = "image/svg+xml", run = "svg" },
      { mime = "image/*", run = "image" },
      # Video
      { mime = "video/*", run = "video" },
      # PDF
      { mime = "application/pdf", run = "pdf" },
      # Archive
      { mime = "application/{zip,rar,7z*,tar,gzip,xz,zstd,bzip*,lzma,compress,archive,cpio,arj,xar,ms-cab*}", run = "archive" },
      { mime = "application/{debian*-package,redhat-package-manager,rpm,android.package-archive}", run = "archive" },
      { url = "*.{AppImage,appimage}", run = "archive" },
      # Virtual Disk / Disk Image
      { mime = "application/{iso9660-image,qemu-disk,ms-wim,apple-diskimage}", run = "archive" },
      { mime = "application/virtualbox-{vhd,vhdx}", run = "archive" },
      { url = "*.{img,fat,ext,ext2,ext3,ext4,squashfs,ntfs,hfs,hfsx}", run = "archive" },
      # Font
      { mime = "font/*", run = "font" },
      { mime = "application/ms-opentype", run = "font" },
      # Empty file
      { mime = "inode/empty", run = "empty" },
      # Virtual file system
      { mime = "vfs/*", run = "vfs" },
      # Error
      { mime = "null/*", run = "null" },
      # Fallback
      { url = "*", run = "file" },
   ]
   spotters = [
      { url = "*/", run = "folder" },
      # Code
      { mime = "text/*", run = "code" },
      { mime = "application/{mbox,javascript,wine-extension-ini}", run = "code" },
      # Image
      { mime = "image/{avif,hei?,jxl}", run = "magick" },
      { mime = "image/svg+xml", run = "svg" },
      { mime = "image/*", run = "image" },
      # Video
      { mime = "video/*", run = "video" },
      # Virtual file system
      { mime = "vfs/*", run = "vfs" },
      # Error
      { mime = "null/*", run = "null" },
      # Fallback
      { url = "*", run = "file" },
   ]

[input]
   cursor_blink = false

   # cd
   cd_offset = [0, 2, 50, 3]
   cd_origin = "top-center"
   cd_title  = "Change directory:"

   # create
   create_offset = [0, 2, 50, 3]
   create_origin = "top-center"
   create_title  = ["Create:", "Create (dir):"]

   # rename
   rename_offset = [0, 1, 50, 3]
   rename_origin = "hovered"
   rename_title  = "Rename:"

   # filter
   filter_offset = [0, 2, 50, 3]
   filter_origin = "top-center"
   filter_title  = "Filter:"

   # find
   find_offset = [0, 2, 50, 3]
   find_origin = "top-center"
   find_title  = ["Find next:", "Find previous:"]

   # search
   search_offset = [0, 2, 50, 3]
   search_origin = "top-center"
   search_title  = "Search via {n}:"

   # shell
   shell_offset = [0, 2, 50, 3]
   shell_origin = "top-center"
   shell_title  = ["Shell:", "Shell (block):"]

[confirm]
   # trash
   trash_offset = [0, 0, 70, 20]
   trash_origin = "center"
   trash_title  = "Trash {n} selected file{s}?"

   # delete
   delete_offset = [0, 0, 70, 20]
   delete_origin = "center"
   delete_title  = "Permanently delete {n} selected file{s}?"

   # overwrite
   overwrite_body   = "Will overwrite the following file:"
   overwrite_offset = [0, 0, 50, 15]
   overwrite_origin = "center"
   overwrite_title  = "Overwrite file?"

   # quit
   quit_body   = "There are unfinished tasks, quit anyway?\n(Open task manager with default key 'w')"
   quit_offset = [0, 0, 50, 15]
   quit_origin = "center"
   quit_title  = "Quit?"

[pick]
   open_offset = [0, 1, 50, 7]
   open_origin = "hovered"
   open_title  = "Open with:"

[which]
   sort_by        = "none"
   sort_reverse   = false
   sort_sensitive = false
   sort_translit  = false

[[plugin.prepend_fetchers]]
   id  = "git"
   run = "git"
   url = "*"

[[plugin.prepend_fetchers]]
   id  = "git"
   run = "git"
   url = "*/"
